# Environments
*.env
*.env.example
*.env.local
*.env.staging

# Python
__pycache__/

# VsCode
.vscode

# PyCharm
.idea

# Ignore Angular build output
/Angular/dist/
/Angular/.angular/
/Angular/README.md

# Node dependencies
/Angular/node_modules/

# Environment files
/Angular/src/environments/environment*.ts

# IDE and editor settings
/Angular/.vscode/
*.swp
*.swo

# Logs
/Angular/npm-debug.log*
/Angular/yarn-debug.log*
/Angular/yarn-error.log*

# Compiled output
/Angular/tmp/
/Angular/out-tsc/

# OS files
.DS_Store
Thumbs.db
