# Environments
*.env
*.env.example
*.env.local
*.env.staging

# Python
__pycache__/

# VsCode
.vscode

# PyCharm
.idea

# Ignore Angular build output
/Angular/dist/
/Angular/.angular/
/Angular/README.md

# Node dependencies
/Angular/node_modules/

# Environment files
/Angular/src/environments/environment*.ts

# IDE and editor settings
/Angular/.vscode/
*.swp
*.swo

# Logs
/Angular/npm-debug.log*
/Angular/yarn-debug.log*
/Angular/yarn-error.log*

# Compiled output
/Angular/tmp/
/Angular/out-tsc/

# OS files
.DS_Store
Thumbs.db

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

*.code-workspace
**/.devcontainer