# Basic dependencies
requests               # For making HTTP requests
pandas                 # For handling CSV files and data processing
psycopg2               # PostgreSQL adapter for Python (psycopg2)
matplotlib             # For creating plots and visualizations
flask
flask_sqlalchemy
flask_migrate
flask_jwt_extended
flask_cors
cryptography           # For secure data encryption and decryption

# Additional libraries
numpy                  # For numerical computing and handling large datasets
python-dotenv          # For loading environment variables from a .env file
pytest                 # Python API and web testing